# ===================================
# Archivos de Entorno y Sistema
# ===================================
.idea/
.vscode/
.venv/
__pycache__/
*.pyc
.DS_Store
.gemini/
.github/
.env
.gitattributes
*REDACTORIZACION.MD
README_NOTEBOOK.md

# ===================================
# Ignorar Contenido de Carpetas de Artefactos
# ===================================
# Ignora todo DENTRO de estas carpetas...
/logs/*
/data/*
/figures/*
/notebook/*
/resources/*
/scripts/*
/docs/*
/sql/diagnostics/*
/spark-warehouse/*
/tmp/*

#...PERO no ignores estos archivos específicos (excepciones)
!/logs/.gitkeep
!/data/.gitkeep
!/docs/LANDSAT_QA_BANDS.md
!/scripts/test_bronze_etl.py
!/scripts/debug_m2m_download.py

# ===================================
# No ignorar el código fuente principal
# ===================================
# Estas reglas aseguran que las carpetas raíz del código siempre se incluyan
!/etl/
!/sql/
!/config/
!/main.py
!/requirements.txt
!/README.md
!/.gitignore
